.navbar, footer {
    transition: background-color 0.3s;
}

.navbar-dark.bg-dark {
    background-color: var(--bg-color-dark)
    
}
.navbar{
    background-color: rgba(252, 128, 80, 0.226);
    border: 1px solid rgb(109, 3, 3);
    border-radius: 28px;
    padding: 5px;
}